<!DOCTYPE html>
<html>

<head>
  <title>DAT teaching guides fetcher</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body style="font-size: larger;">
  <a href="/09TT">Teleco</a><br/>
  <a href="/09BM">Bio</a><br/>
  <a href="/09ID">Datos</a><br/>
  <a href="/09AQ">MUIT</a></li><br/>
</body>
</html>