<!DOCTYPE html>
<html>

<head>
  <title>DAT teaching guides fetcher</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body style="font-size: larger;">
  <h1>Titulaciones:</h1><br/>
  <a href="/titulaciones/09TT">Teleco</a><br/>
  <a href="/titulaciones/09BM">Bio</a><br/>
  <a href="/titulaciones/09ID">Datos</a><br/>
  <a href="/titulaciones/09AQ">MUIT</a><br/>
  <h1>Departamentos:</h1><br/>
  <a href="/departamentos/D550">SSR</a><br/>
  <a href="/departamentos/D560">TFB</a><br/>
  <a href="/departamentos/D540">MAT</a><br/>
  <a href="/departamentos/D530">DIE</a><br/>
  <a href="/departamentos/D520">DIT</a><br/>
  <a href="/departamentos/D510">ELF</a><br/>
  <a href="/departamentos/D240">LIA</a><br/>
  <a href="/departamentos/D400">IOR</a><br/>
</body>
</html>