<!DOCTYPE html>
<html>

<head>
  <title>DAT teaching guides fetcher</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body style="font-size: larger;">
  <h1>Titulaciones:</h1><br/>
  <% for (let degree of degrees) { %>
    <a href="/titulaciones/<%= degree.code %>"><div class="container"><%= degree.name %><br/></div></a>
  <% } %>
  <h1>Departamentos:</h1><br/>
  <% for (let department of departments) { %>
    <a href="/departamentos/<%= department.code %>"> <div class="container"><%= department.name %><br/></div></a>
  <% } %>
</body>
</html>