/* Set the default font family and size */
body {
  font-family: sans-serif;
  padding:2%;
  font-size: 16px;
}

/* Style the page title */
h1 {
  color: rgb(0, 77, 127);
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style the section titles */
h2 {
  color: #871515;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

/* Style the links */
a {
  color: white;
  text-decoration: none;
  height: fit-content;
  font-size: 22px;
}

a:hover {
  /**text-decoration: underline;**/
}

/* Set the link styles for visited links */
a:visited {
  /**color: #eaab8b;**/
}

.container{
  border-style:solid;
  border-width:2px;
  border-color: rgb(189, 189, 189);
  margin: 0vh 0vh 0.7vh 0vh;
  padding:1vh 1vw;
  /*background: linear-gradient(65deg, rgb(246, 85, 85) 0%, rgb(245, 85, 86) 0%, rgb(252, 207, 49) 100%);
  background: -webkit-linear-gradient(65deg, rgb(246, 85, 85) 0%, rgb(245, 85, 86) 0%, rgb(252, 207, 49) 100%);*/
  background: linear-gradient(65deg,rgb(0, 77, 127) 0%, rgb(29, 160, 207) 100%);
  background: -webkit-linear-gradient(65deg,rgb(0, 77, 127) 0%, rgb(29, 160, 207) 100%);
  
}

.container :only-child{
  margin:15px;
}

.container:hover{
  color:rgb(210,210,210);
  text-decoration: none;
}
